<html>
    <head>
        <title>EC500 HW5</title>
    </head>
    <body class = "body">
    <body bgcolor = "BEE2E7">
        <text><center><h1>EC500 Homework 5 </h1></center></text>
        <text><center>This web is used to help you search tweets you interested by timeline<br></center></text>
        <text><center>The tweets we get will be shown in the form of video<br></center></text>
        <form method="POST">
            <br><center>Please enter your keyword: <br><input type="text" id="text" name="text"></center><br>
            <br><center><input type="submit" value="generate"></center>
        </form>
    </body>
</html>